@font-face{
	font-family: GardensC;
	src:url('../fonts/GardensC/GardensC_03_1.otf');
}

@font-face{
	font-family: GardensC;
	src:url('../fonts/WarnokPro/WARNOCKPRO-REGULAR.otf');
	font-weight: 400;
}

@font-face{
	font-family: GardensBold;
	src:url('../fonts/WarnokPro/WARNOCKPRO-SEMIBOLDITCAPT.otf');
	font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	background: #758086 url(../img/bg.png)repeat;
	font-family: 'GardensC', cursive;
}


.main-header {
	position: fixed;
	width: 100%;
	background-image: linear-gradient( #c0a665 15%, #b19652 30%, #b19652 70%, #c0a665 85%);
	color: white;
	z-index: 10;
}
.main-header::before {

}

.main-navigation {
 	float: left;
 	width: auto;
 	margin-left: 75px;
 }
.main-navigation ul {
	padding: 0;
	margin: 0;
	list-style:none;
	font-size: 0;
 }
 .main-navigation li {
	display: inline-block;
	font-size: 22px;
	line-height: 20px;
	vertical-align: top;
 }
 .main-navigation a {
 	display: block;
 	padding: 20px 15px;
 	color: white;
 	text-decoration: none;
 }
.main-navigation a:hover {
	color: #E6D6B4;
}


.contacts-top {
 	float: right;
 	width: 340px;
 	
 }
.contacts-top .call-btn {
	float: right;
	display: inline-block;
	padding: 20px 6px;
	font-family: GardensC;
 	font-size: 16.5px;
	line-height: 20px;
	vertical-align: top;
 	text-decoration: none;
 	color: white;
 }
 .contacts-top .call-btn:hover {
	color: #E6D6B4;
 }

 .social-btn {
 	display: inline-block;
 	float: right;
 	width: 50px;
 	height: 50px;
	color: white;
	background: url(../img/vk.png);
	background-size: 50px 50px;

 }

 

main {
	box-shadow: 0 0 70px 25px #EEEEEE;
}


.about {
	position: relative;
	width: 900px;
	height: 485px;
	padding: 250px 60px 0;
	box-sizing: border-box;
	background: #DAEDDA url(../img/main-bg.jpg) no-repeat;
	background-size: 900px 485px;
	
}

.logo {
	position: absolute;
	left: 180px;
	top: 85px;
	width: 233px;
	height: 148px;
	z-index: 5;
}

.logo img {
	position: absolute;
	width: 233px;
	height: 148px;
	z-index: 12;
} 

.about-text {
	display: inline-block;
	width: 450px;
	font-family: GardensC;
	text-align: center;
	font-weight: 400px;
	font-size: 20px;
	line-height: 25px;
	color: #93783a;
}

.about-text p{
	margin: 0;
	margin-bottom: 10px;
}

.about-text span {
	display: inline-block;
	margin-bottom: 10px;
}

.photo-strip {
	width: auto;
	height: 145px;
	background: #DAEDDA url(../img/photo-strip-3.jpg) no-repeat;
	background-size: 900px 145px;
}

.services {
	text-align: center;
	padding: 0;
	background: #DAEDDA url(../img/services-bg-1.png) repeat;
	background-size: 900px 100%;	
	color: #2A2A2A;
}

.title {
	position: relative;
	display: block;
	min-width: 50px;
	padding: 0 30px;
	padding-top: 110px;
	background: url(../img/title.png) no-repeat center 15px;
	background-size: 370px auto;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
}

.title::before {
	content: "Наши услуги";
	position: absolute;
	top: 52px;
	left: 50%;
	margin-left: -75px;
	font-size: 27px;
	font-weight: 500;
	line-height: 26px;
	color: #FEF9D2;
}

.services-top {
	min-height: 300px; 
}

[class*="column"] {
	width: 450px;
	box-sizing: border-box;
	padding: 0;
	padding-left: 30px;
	margin: 0;
	text-align: center;
}

.small__title {
	position: relative;
	display: inline-block;
	min-width: 30px;
	margin: 30px 0;
	font-size: 22px;
	line-height: 22px;
	color: #D5B53E;
}

.small__title::before {
	content: "";
	position: absolute;
	top: 2px;
	left: -56px;
	width: 63px;
	height: 30px;
	background:  url("../img/title-left.png") no-repeat;
	background-size: 63px 30px;
}

.small__title::after {
	content: "";
	position: absolute;
	top: 2px;
	right: -56px;
	width: 63px;
	height: 30px;
	background: url("../img/title-right.png") no-repeat;
	background-size: 63px 30px;
}

.services h4 {
	margin: 8px 0;
	text-align: left;
}

.test ul {
	display: none;
	padding: 0;
	padding-left: 40px;
	margin: 0;
	text-align: left;
	font-size: 14px;
	line-height: 18px;
	vertical-align: top;
	font-weight: 400;
}


.services .block {
	display: block;
}

[class*="column"] li {
	margin: 18px;
	font-size: 17px;
	line-height: 20px;
	vertical-align: top;
	font-weight: 500;
}



.column-1,
.column-3 {
	float: left;
}

.column-2,
.column-4 {
	float: right;
}

.services .column-3,
.services .column-4 {
	height: 180px;
	margin-bottom: 20px;
}

.btn-list {
	display: block;
	clear: both;
	padding: 10px 0;
	border-top: 1px solid rgba(232,173,71, 0.3);
	border-bottom: 1px solid rgba(232,173,71, 0.3);
	text-decoration: none;
	text-align: center;
	color: #DFBF48;
	font-size: 19px;
}

.gifts {
	padding: 15px 30px 30px 30px;
	clear: both;
	text-align: left;
}

.big__title {
	position: relative;
	display: block;
	min-width: 50px;
	padding: 0 30px;
	padding-top: 110px;
	margin-bottom: 30px;
	background: url(../img/title.png) no-repeat center 15px;
	background-size: 370px auto;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	line-height: 20px;
}

.big__title::before {
	content: "Подарочные сертевикаты";
	position: absolute;
	top: 52px;
	left: 50%;
	margin-left: -153px;
	font-size: 27px;
	font-weight: 500;
	line-height: 26px;
	color: #FEF9D2;
}


.gifts__text {
	float: left;
	max-width: 550px;
}

.gifts-list {
	padding: 0;
	margin: 0;
	list-style: none;
	font-size: 0;
}

.gifts ul li {
	padding: 0;
	margin-left: -10px;
	vertical-align: top;
	font-size: 18px;
	font-weight: 550;
	line-height: 20px;
}

.gifts__slider {
	float: right;
	width: 260px;
	margin-top: 30px;
	padding-right: 10px;
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
}

.gifts__img {
	display: none;
}

.gifts__img--view {
	display: block;
}

.portfolio {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 900px;
	height: 750px;
	box-sizing: border-box;
	background: #DAEDDA url(../img/collage-2.jpg) no-repeat;
	background-size: 900px 749px;
}

.portfolio .all-photo {
	display: inline-block;
	padding: 15px 18px;
	background-image: linear-gradient(to right , #C0A665, #B19652, #C0A665);
	border: 5px solid white;
	border-radius: 10px;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	color: white;
	box-shadow: 0 0 20px 1px #D5D5D5;
}

.portfolio .all-photo:hover {
	background-image: linear-gradient(to right , #B19652, #C0A665, #B19652);
	box-shadow: 0 0 10px 2px #D5D5D5;
	color: #90634C;
}

.contacts {
	padding: 0 20px 20px 20px;
	text-align: center;
	background: #CAE3FB url(../img/services-bg-1.png);
	border-left: 1px solid #DCC281;
	border-right:  1px solid #DCC281;
}

.big__title--third::before {
	content: "Наши салоны";
	position: absolute;
	top: 52px;
	left: 50%;
	margin-left: -80px;
	font-size: 27px;
	font-weight: 500;
	line-height: 26px;
	color: #FEF9D2;
}

.contacts-left {
	float: left;
	width: 420px;
	padding-right: 10px;
	margin-top: 10px;
	border-right: 1px solid rgba(65,79,90, 0.3);
}

.contacts-right {
	float: right;
	margin-top: 10px;
	width: 420px;
}

.contacts .small__title {
	margin-top: 0;
	margin-bottom: 50px;
}

.contacts span {
	display: inline-block;
	width: 100%;
	margin: 0;
	margin-bottom: 16px;
	text-align: left;
}


.main-footer {
	position: relative;
	padding: 20px;
	z-index: 10;
	background: #bfa664;
	color: white;
	background-image: linear-gradient( #c0a665 15%, #b19652 30%, #b19652 70%, #c0a665 85%);
}


.our-jobs {
	display: inline-block;
	padding: 1px 0;
	margin-left: 15px;
	margin-right: 60px;
	border-bottom: 1px solid white;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
}

.our-jobs:hover {
	color: #E6D6B4;
	border-bottom: 1px solid #E6D6B4;
}

.jobs-popup {
	position: absolute;
	top: -230px;
	left: 50%;
	display: none;
	width: 300px;
	margin-left: -350px;
	padding: 15px 30px;
	text-align: left;
	color: #000000;
	line-height: 20px;
	border: 1px solid #D5B53E;
	background: #F8EDD8;
		box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.3);
	border-radius: 6px;
}

.jobs-popup ul {
	padding: 0;
	padding-left: 20px;
}

.jobs-popup li {
	padding: 5px 0;
}

.modal-content-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	outline: 0;
	cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 19px;
	height: 3px;
	background-color: #313131;
	border-radius: 1px;
}

.modal-content-close::before {
	transform: rotate(45deg);
}

.modal-content-close::after {
	transform: rotate(-45deg);
}



.modal-content-show {
	display: block;
	z-index: 20;
}

.container {
	width: 900px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;

}

